html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prompt", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --backgroundColor: #292929;
  --dark-color: #222222;
  --gray-color: #e6e6e6;
  --light-color: #eee9db;
  --red-color: #fe330a;

  --headlineBig: clamp(4rem, 12.9vw, 15rem);
  --headlineMediumBig: clamp(5rem, 13.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 1vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
  --asteriskBig: clamp(12rem, 28.9vw, 40rem);
}

main {
  background-color: var(--light-color);
  // overflow: hidden;
}

h1,
h2,
h3,
h4 {
  line-height: 100%;
}

p {
  font-weight: 200;
}

a {
  color: var(--red-color);
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

/* HERO */
.hero__header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 10%;
  margin-left: 10%;
  z-index: 1;
  position: relative;
  border-left: 2px solid var(--dark-color);
  padding-bottom: 10%;
}

.hero__header h1 {
  font-size: var(--headlineBig);
  color: var(--dark-color);
  font-weight: 200;
}

.hero__header .hero-first-text {
  display: flex;
  width: 100%;
  padding-left: 10px;
}

.hero__header .hero-second-text {
  font-size: var(--headlineBig);
  margin-right: 10%;
}

.asterisk {
  color: var(--red-color);
  width: 80px;
  height: 80px;
  position: absolute;
  animation: spin 4s linear infinite;
  top: 41%;
}

.hero__header h2 {
  letter-spacing: var(--headlineSmall);
  font-size: var(--headlineSmall);
  color: var(--red-color);
  font-weight: 200;
}

.hero__header .first-text {
  letter-spacing: 5px;
  font-size: var(--headlineSmall);
  width: 100%;
  /* color: #000; */
  text-align: start;
  padding-left: 5px;
  font-weight: 200;
}

.hero__header .hero-info-wrapper {
  display: flex;
  width: 100%;
}

.hero__header .hero-info-text {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  text-align: left;
  transform: translateY(50px);
  font-size: var(--headlineSmall);
  padding-left: 10px;
}

@media (min-width: 768px) {
  .hero__header {
    margin-left: 10%;
    padding-left: 10%;
  }

  .asterisk {
    width: 120px;
    height: 120px;
    top: 39%;
  }

  .hero__header .hero-info-text {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .asterisk {
    width: 175px;
    height: 175px;
    top: 35%;
  }
}

/* HERO END */

/* TITLE SECTION */
.title-section {
  /* height: 100vh; */
  padding: 150px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.title-section-right {
  text-align: end;
}

.title-section h3 {
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
  z-index: 1;
  font-weight: 200;
}

.title-section img {
  height: 65px;
  width: 65px;
  transform: translateY(10px);
}

@media (min-width: 768px) {
  .title-section img {
    height: 100px;
    width: 100px;
  }
}

@media (min-width: 1200px) {
  .title-section {
    padding: 150px 150px;
  }

  .title-section img {
    height: 150px;
    width: 150px;
  }
}
/* END OF TITLE SECTION */


/* START OF "INFINITE CONTAINER" */
.infiniteContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  z-index: 10;
  display: flex;
  height: auto;
  margin-bottom: 0;
  overflow: hidden;
  width: 100%;
  border-top: 2px solid var(--dark-color);
  border-bottom: 2px solid var(--dark-color);
}

.sliderContainer {
  white-space: nowrap;
}

.slider {
  position: relative;
}

.slider p {
  position: relative;
  margin: 0;
  color: var(--dark-color);
  font-size: 50px;
  padding-right: 25px;
  text-transform: uppercase;
}

.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

@media (min-width: 768px) {
  .slider p {
    font-size: 100px;
  }
}

/* END OF "INFINITE CONTAINER" */

/* PRELOADER */
.introduction {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  background-color: #141516;
}
.introduction svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% + 300px);
}
.introduction svg path {
  fill: var(--dark-color);
}
.introduction p {
  display: flex;
  color: #eee9db;
  font-size: var(--headlineBig);
  align-items: center;
  position: absolute;
  z-index: 1;
}
/* END OF PRELOADER */

/* NAVIGATION */
.nav-button {
  position: fixed;
  right: 0px;
  margin: 20px;
  z-index: 90;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--red-color);
  opacity: 0.8;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger {
  width: 100%;
}
.burger::after,
.burger::before {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: auto;
  background-color: var(--dark-color);
  position: relative;
  transition: transform 0.3s;
  z-index: 91;
}
.burger::after {
  top: -5px;
}
.burger::before {
  top: 5px;
}
.burgerActive::after {
  transform: rotate(45deg);
  top: -1px;
}
.burgerActive::before {
  transform: rotate(-45deg);
  top: 0px;
}

.svgCurve {
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: rgb(41, 41, 41);
  stroke: none;
}

.nav-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
  gap: 40px;
}

.nav-footer a {
  color: var(--light-color);
  transition: color 0.2s ease, transform 0.2s ease;
}
.nav-footer a:hover {
  color: var(--light-color);
  transform: scale(1.2);
}

.nav-link {
  position: relative;
  display: flex;
  align-items: center;
}

/* .nav-indicator {
  width: 10px;
  height: 10px;
  background-color: var(--light-color);
  border-radius: 50%;
  position: absolute;
  left: -30px;
} */

.nav-link a {
  color: var(--light-color);
  transition: color 0.2s ease, transform 0.2s ease;
}
.nav-link a:hover {
  color: var(--light-color);
  transform: scale(1.2);
}

.nav-menu {
  height: 100vh;
  background-color: var(--dark-color);
  position: fixed;
  right: 0;
  top: 0;
  color: var(--light-color);
  z-index: 80;
}
.nav-menu .nav-body {
  box-sizing: border-box;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .nav-menu .nav-body {
    padding: 100px;
  }
}

.nav-menu .nav-body .nav-nav {
  display: flex;
  flex-direction: column;
  font-size: 56px;
  gap: 12px;
  margin-top: 80px;
}
.nav-menu .nav-body .nav-nav .nav-header {
  color: var(--light-color);
  border-bottom: 1px solid var(--light-color);
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 40px;
}
.nav-menu .nav-body .nav-nav a {
  text-decoration: none;
  color: var(--light-color);
  font-weight: 300;
}

/* END OF NAVIGATION */

/* TECHNOLOGIES */

.tech-container {
  display: flex;
  height: auto;
  align-items: center;
  /* padding-top: 50px; */
}

@media (min-width: 768px) {
  .tech-container {
    display: flex;
    height: auto;
    align-items: center;
    padding-bottom: 1rem;
    /* padding-top: 150px; */
  }
}

.tech-projectContainer {
  position: relative;
  width: 80%;
  margin: auto;
}

.tech-projectContainer div {
  border-top: 1px solid var(--dark-color);
  position: relative;
  margin-bottom: -1vw;
  /* padding-left: 30px; */
  text-align: center;
}

.tech-projectContainer div p {
  margin: 0px;
  font-size: 7vw;
  padding-left: 10px;
  text-transform: uppercase;
  pointer-events: none;
}

@media (min-width: 768px) {
  .tech-projectContainer div p {
    margin: 0px;
    font-size: 3.5vw;
    padding-left: 10px;
    text-transform: uppercase;
    pointer-events: none;
  }
}
/* END OF TECHNOLOGIES */

/* FOOTER */
.footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
}

.image-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.image-div {
  flex: 1;
  max-width: 50%;
  padding: 10px; /* Halutessasi voit lisätä tai poistaa tätä */
  overflow: hidden;
}

.image-div img {
  width: 100%;
  height: auto;
  display: block;
}

.image-div-first img {
  padding-top: 16%;
  transform: translateX(-15%);
}

.image-div-second img {
  transform: translateX(15%);
}

.contact-div {
  width: 80%;
  display: flex;
  padding: 50px 0px;
  border-bottom: 2px solid var(--light-color);
}

.footer span {
  font-size: 32px;
  color: var(--light-color);
  font-weight: 300;
}

.footer span img {
  height: auto;
  width: 50px;
  color: var(--light-color);
}

.links-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 50px 0px;
  padding-bottom: 0;
}

.social-link {
  font-size: 18px;
  display: flex;
  color: var(--light-color);
  font-weight: 300;
}

.copyright {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 80%;
  color: var(--light-color);
  font-size: 12px;
}

@media (min-width: 768px) {
  .footer span {
    font-size: 64px;
  }

  .social-link {
    font-size: 24px;
  }

  .contact-div {
    padding-top: 0;
  }
}

/* END OF FOOTER */

/* START OF TEXTSECTION */

.text-section {
  /* border-top: 1px solid var(--dark-color);
  border-bottom: 1px solid var(--dark-color); */
  padding: 150px 30px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.text-section .text-section-body {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Lisätään flex-grow-ominaisuus molemmille osioille */
.text-section .text-section-body .left-section,
.text-section .text-section-body .right-section {
  flex-grow: 1;
  min-width: 50%;
}

@media (min-width: 768px) {
  .text-section .text-section-body .right-section {
    margin-top: 25%;
  }
}

.text-section .text-section-body p {
  margin: 0px;
}

.text-section h4 {
  font-size: 54px;
  padding-bottom: 30px;
  font-weight: 200;
}

@media (min-width: 900px) {
  .text-section .text-section-body {
    flex-direction: row;
    gap: 20px;
  }

  .text-section {
    padding: 150px 150px;
  }

  .text-section h4 {
    font-size: 110px;
  }

  .text-section .text-section-body p {
    margin: 0px;
    font-size: 24px;
  }
}

/* END OF TEXTSECTION */

/* START OF NOISE */

// .noise::before {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   content: "";
//   opacity: 0.1;
//   z-index: 99;
//   pointer-events: none;
//   background: url(/noise.gif);
// }

/* END OF NOISE */

/* START OF WorksPeek */

.section-wrapper {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

.works-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (min-width: 768px) {
  .works-container {
    padding: 150px;
    gap: 40px;
  }
}

.banner-image {
  position: relative;
  width: 100%;
  height: 230px;
}

@media (min-width: 768px) {
  .banner-image {
    height: 600px;
  }
}

/* END OF WorksPeek */

/* START OF Project gallery */
.project {
  /* border-top: 2px solid black; */
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project p {
  font-size: 5vw;
  margin: 0px;
}
.project p:nth-of-type(1) {
  margin-right: 0.75vw;
}
.project p:nth-of-type(2) {
  margin-left: 0.75vw;
}
.project:last-of-type {
  border-bottom: 2px solid black;
}
.project .imgContainer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 0;
}
.project img {
  width: 10vw;
}

.galleryMain {
  /* height: 100vh; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px;
}

@media (min-width: 768px) {
  .galleryMain {
    padding: 150px;
  }
}

.gallery {
  width: 80%;
  margin: auto;
}
/* END OF Project gallery */

.projectLink {
  color: var(--dark-color);
}

/* START OF ZoomParallax */

.containerZoomParallax {
  height: 300vh;
  position: relative;
  // padding-top: 5rem;
  // padding-bottom: 5rem;

  .sticky {
    position: sticky;
    overflow: hidden;
    top: 0;
    height: 100vh;
    margin: 150px 0px;

    .el {
      width: 100%;
      height: 100%;
      top: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      .imageContainer {
        position: relative;
        width: 25vw;
        height: 25vh;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        img {
          object-fit: cover;
        }
      }
      &:nth-of-type(2) {
        .imageContainer {
          top: -35vh;
          left: 5vw;
          width: 35vw;
          height: 40vh;
        }
      }
      &:nth-of-type(3) {
        .imageContainer {
          top: -10vh;
          left: -30vw;
          width: 30vw;
          height: 45vh;
        }
      }
      &:nth-of-type(4) {
        .imageContainer {
          left: 30vw;
          width: 32vw;
          height: 25vh;
        }
      }
      &:nth-of-type(5) {
        .imageContainer {
          top: 27.5vh;
          left: 5vw;
          width: 20vw;
          height: 25vh;
        }
      }
      &:nth-of-type(6) {
        .imageContainer {
          top: 27.5vh;
          left: -22.5vw;
          width: 30vw;
          height: 25vh;
        }
      }
      &:nth-of-type(7) {
        .imageContainer {
          top: 30vh;
          left: 30vw;
          width: 25vw;
          height: 30vh;
        }
      }
    }
  }
}

/* END OF ZoomParallax */
