html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --backgroundColor: #292929;
  --dark-color: #222222;
  --gray-color: #e6e6e6;
  --red-color: #fe330a;

  --headlineBig: clamp(4rem, 12.9vw, 15rem);
  --headlineMediumBig: clamp(5rem, 13.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 1vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
  --asteriskBig: clamp(12rem, 28.9vw, 40rem);
}

a {
  color: var(--red-color);
}

img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

/* HERO */
.hero__header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 10%;
  margin-left: 10%;
  z-index: 1;
  position: relative;
  border-left: 2px solid var(--dark-color);
}

.hero__header h1 {
  font-size: var(--headlineBig);
  color: var(--dark-color);
  font-weight: 400;
}

.hero__header .hero-first-text {
  display: flex;
  width: 100%;
  padding-left: 10px;
}

.hero__header .hero-second-text {
  font-size: var(--headlineBig);
  margin-right: 10%;
}

.asterisk {
  color: var(--red-color);
  width: 80px;
  height: 80px;
  position: absolute;
  animation: spin 4s linear infinite;
  top: 41%;
}

.hero__header h2 {
  letter-spacing: var(--headlineSmall);
  font-size: var(--headlineSmall);
  color: var(--red-color);
}

.hero__header .hero-info-wrapper {
  display: flex;
  width: 100%;
}

.hero__header .hero-info-text {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  text-align: left;
  transform: translateY(50px);
  font-size: var(--headlineSmall);
  padding-left: 10px;
}

@media (min-width: 768px) {
  .hero__header {
    margin-left: 10%;
    padding-left: 10%;
  }

  .asterisk {
    width: 120px;
    height: 120px;
    top: 39%;
  }

  .hero__header .hero-info-text {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .asterisk {
    width: 175px;
    height: 175px;
    top: 35%;
  }
}

/* HERO END */

/* TITLE SECTION */
.title-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-section span {
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
  z-index: 1;
}

.title-section img {
  height: 65px;
  width: 65px;
  transform: translateY(10px);
}

@media (min-width: 768px) {
  .title-section img {
    height: 100px;
    width: 100px;
  }
}

@media (min-width: 1200px) {
  .title-section img {
    height: 150px;
    width: 150px;
  }
}
/* END OF TITLE SECTION */

/* SCROLL SECTION */

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid var(--dark-color);
}
.first-section {
  border-right: 2px solid var(--dark-color);
}

.second-section {
  border-right: 2px solid var(--dark-color);
}

.fourth-section {
  border-left: 2px solid var(--dark-color);
}

.scroll-section {
  font-size: var(--headlineBig);
  font-weight: 400;
}

h2 {
  font-size: var(--headlineBig);
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 0;
}

h3 {
  font-size: var(--headlineSmall);
  font-weight: 400;
  width: 90%;
  margin-left: 0;
}

.section-1 {
  top: 10%;
  margin-left: 2%;
  position: absolute;
  border-bottom: 2px solid var(--dark-color);
  padding-bottom: 20px;
}

.section-1 img {
  width: 300px;
  height: 400px;
  position: absolute;
  right: 5%;
  top: 110%;
}

.section-2 {
  top: 10%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--dark-color);
  padding-bottom: 20px;
}

.section-2 img {
  width: 330px;
  height: 370px;
  top: 40px;
  position: fixed;
  margin-left: 30px;
}

.section-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--dark-color);
  padding-bottom: 20px;
}

.title {
  font-size: clamp(3rem, 12.9vw, 8rem);
}

.section-4 h2 {
  margin-left: 30px;
}
.section-4 h3 {
  margin-left: 30px;
}

.section-3 h3 {
  margin-left: 30px;
}
.section-3 h2 {
  margin-left: 30px;
}

.section-2 h3 {
  margin-left: 30px;
}
.section-2 h2 {
  margin-left: 30px;
}

/* .section-3 img {
  width: 350px;
  height: 530px;
  top: 10px;
  position: fixed;
} */

.section-4 {
  top: -30%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--dark-color);
  padding-bottom: 20px;
}

.section-4 img {
  width: 350px;
  height: 480px;
  top: 350px;
  position: fixed;
  margin-left: 30px;
}

@media (min-width: 768px) {
  .scroll-section,
  h3 {
    font-size: var(--headlineSmall);
    font-weight: 400;
    width: 50%;
  }

  .section-1 img {
    width: 500px;
    height: 400px;
    position: absolute;
    right: 5%;
    top: 110%;
  }

  .section-2 img {
    width: 750px;
    height: 370px;
    top: 40px;
    position: fixed;
  }

  /* .section-3 img {
    width: 700px;
    height: 530px;
    top: 10px;
    position: fixed;
  } */

  .section-4 img {
    width: 700px;
    height: 480px;
    top: 500px;
    position: fixed;
  }
}

@media (min-width: 1200px) {
  .section-1 img {
    width: 400px;
    height: 500px;
    position: absolute;
    right: 10%;
    top: 60%;
  }

  .section-2 img {
    width: 1200px;
    height: 400px;
    position: absolute;
    top: -400px;
  }

  /* .section-3 img {
    width: 1000px;
    height: 480px;
    top: 10px;
    position: fixed;
  } */

  .section-4 img {
    width: 1100px;
    height: 380px;
    top: 450px;
    position: fixed;
    margin-left: 30px;
  }
}

/* SCROLL SECTION END */

/* FOOTER */
.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}
/* END OF FOOTER */

/* BACKGROUND "STATIC NOISE" */
.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: #eee9db url(http://assets.iceable.com/img/noise-transparent.png)
    repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

/* SPINNING ANIMATION */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* PROJECTS PERSPECTIVE THING */

a {
  text-decoration: none;
}

.perspective {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  perspective: 25rem;
  position: relative;
}

.perspective-inner {
  transform-style: preserve-3d;
  position: relative;
  height: 100%;
}

.perspective-left {
  position: absolute;
  width: 22%;
  transform: translateY(-50%);
  transition: 0.1s;
  top: 50%;
  left: 30%;
}

.perspective-right {
  position: absolute;
  width: 22%;
  top: 50%;
  transform: translate3d(0px, 0px, -10rem) translateY(-50%);
  transition: 0.1s;
  right: 30%;
}

.perspective-right .perspective-desc {
  text-align: end;
}

.perspective-inner img {
  display: inline;
  width: 100%;
}

.perspective-inner h2 {
  font-size: 0.5rem;
  font-weight: 400;
  color: var(--white);
}

.perspective-inner span {
  font-size: 0.5rem;
  background-color: var(--white);
  color: var(--black);
  padding: 0.2rem;
  border-radius: 0.1rem;
}

.third {
  transform: translate3d(0px, 0px, -20rem) translateY(-50%);
}
